
@import './../../../../Utils/custom.scss';

.title{
    color:$main-color;
    
    &__main{
        width: 100%;
        font-size:$big-font-size;
        line-height: 142.6%;
        letter-spacing: 0;
        
        @media (max-width: 800px) {
            font-size: $medium-font-size;     
        }

        @media (max-width: 450px) {
            font-size: $small-font-size;     
        }
    }
    
    &__subtitle{
        font-size: $small-font-size;
        letter-spacing: 0;
        line-height: 142.6%; 
        
        @media (max-width: 750px) {
           font-size:$tiny-font-size;
        }
    }
}

