//MAIN CUSTOMS


/************COLOR**************/
$main-color: #FF6060;
$second-color: white;

/***********RADIUS***************/
$big-border-radius: 25px;
$small-border-radius :10px;
$smaller-border-radius :5px;

/********BACKGROUND***************/
$overlay_background: rgba(0, 0, 0, 0.3);
$dark-background: black;
$grey-background: #F6F6F6;
$linear-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);

/****FONTSIZE**********************/
$tiny-font-size:14px;
$small-font-size:18px;
$medium-font-size: 24px;
$big-font-size:36px;
$biger-font-size: 48px;

/******FONTWEIGHT*****************/
$main-font-weight: 500;